h1{text-align: center;}

#inhoud{
    background-color: rgb(237, 237, 237);
    width:70%;
    margin-left:15%;
    padding:0.5em;
    }

.blok{
    max-width:80%;
    min-width:25%;
    margin-left:10%;
    padding:1em;
    margin-bottom:0.5em;
    border-radius: 25px;
    border:1px solid black;
}

.extra{
    background-color: #d9d2e9;
    }

.tip{
    background-color:#fce5cd;
    }
.tiptekst span{
    font-family: Lobster, Papyrus, sans-serif;
    font-style: italic;
    font-weight: bold;
}