h1{text-align: center;}

#inhoud{
    background-color: rgb(237, 237, 237);
    width:70%;
    margin-left:15%;
    padding:3px;
    }

.extra{
    background-color: #d9d2e9;
    width:80%;
    margin-left:10%;
    padding:3px;
    margin-bottom:0.5em;
    }

.tip{
    background-color:#fce5cd;
    width:80%;
    margin-left:10%;
    padding:3px;
    margin-bottom:0.5em;
    }
/* .tip:before {
    content: "<span class='tiptekst'>Tip!</span><br/>";
  } */
.tiptekst span{
    font-family: Lobster, Papyrus, sans-serif;
    font-style: italic;
    font-weight: bold;
}