#inhoud{
    background-color: lightgrey;
    width:80%;
    left:10%
}

.extra{background-color: #d9d2e9;}

.tip{background-color:#fce5cd;}
/* .tip:before {
    content: "<span class='tiptekst'>Tip!</span><br/>";
  } */
.tiptekst{
    font-family: Lobster, Papyrus, sans-serif;
    font-style: italic;
    font-weight: bold;
}